.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
  
.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
  
.header-searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header-searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
  
.header-nav {
    display: flex;
    justify-content: space-evenly;
}
  
.header-optionLineOne {
    font-size: 10px;
}
  
.header-optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}
  
.header-optionBasket {
    display: flex;
    align-items: center;
    color: white;
}
  
.header-basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 530px) {
   .header-logo {
    padding-left: 0;    
    width: 70px;
   }

    .header-optionLineOne {
    font-size: 9px;
    }
  
    .header-optionLineTwo {
    font-size: 11px;
    } 

    .header-searchInput {
        height: 8px;
    }
    
    .header-searchIcon {
    height: 19px !important;
    }
}

@media only screen and (max-width: 400px) {
    .header-optionLineOne {
        font-size: 9px;
        }
      
    .header-optionLineTwo {
        font-size: 9px;
    } 
}