.payment {
    background-color: white;
}

.payment-container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment-container > h1 a {
    text-decoration: none;
}

.payment-section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment-title {
    flex: 0.2;
}

.payment-address, .payment-items, .payment-details {
    flex: 0.8;
}